body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.banner {
    padding: 60px;
    text-align: center;
    color: white;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.button {
    text-decoration: none;
    background-color: #ff0051;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 10%;
    margin: 10%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.Donate-part {
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}

.donate-amount {
    margin-top: 5%;
    display: flex;
}

.box {
    background-color: rgb(165, 219, 219);
    padding: 10%;
    margin: 10%;
}